@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazar Profil Düzenleme</h4>
                <p class="card-description"> Yazar Profil Bilgileri Düzenleme </p>
                <br />
                <form class="forms-sample" method="post">
                    <div class="form-group">
                        <label for="exampleInputName1">Yazar Adı</label>
                        <input type="text" asp-for="@Model.namesurname" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Kullanıcı Adı</label>
                        <input type="text" asp-for="@Model.username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Mail Adresi</label>
                        <input type="text" asp-for="@Model.mail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Şifre</label>
                        <input type="text" asp-for="@Model.password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail3">Resim URL</label>
                        <input type="text" asp-for="@Model.imageurl" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Profili Düzenle</button>
                <button asp-action="Index" asp-controller="Dashboard" class="btn btn-light">Vazgeç</button>
                </form>
            </div>
        </div>
    </div>

